<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        display: inline-block;
        position: relative;
      }
      .container {
        display: inline-block;
        width: 50%;
      }
      .section {
        display: inline-block;
        margin: 3%;
      }
      .pwd {
        text-align: left;
        margin: 3% 0;
        font-weight: 700;
      }
      p {
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        line-height: 25px;
      }
      .subheading {
        text-align: center;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="section">
        <p class="subheading">Pssword Reset OTP.</p>
        <br />
        <p>
          Your password reset OTP is given bellow.
        </p>
        <p class="pwd"><%= OTP %></p>
        <p>Thank you.</p>
      </div>
    </div>
  </body>
</html>